{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  </head>
  <style>
    .action_required {color:red}
    .assigned {color: #888}
  </style>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/home">eMERGE ROR</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row">
<!-- 
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Analytics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Export</a>
            </li>
          </ul>


          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <span class="nav-link"><strong>Research</strong></span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Variants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Phenolyzer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Trios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Burden</a>
            </li>
          </ul>
        </nav>
 -->
        


<!--         <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3"> -->
        <main class="col-sm-9 offset-sm-1 col-md-10 offset-md-1 pt-3" style="max-width: 940px">
          <h1>Genetic Results</h1>


          <h3>Patient 54392</h3>
          <h5 >Picard, Jean L</h5>
          <p>Status: <span class="red">Action Required</span></p>
          
          <ul class="nav nav-tabs" style="margin-top: 2em">
            <li class="nav-item">
                <a class="nav-link" href="/patient/summary/">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/patient/notes/">Notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/patient/results">Report</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Research Variants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">All Variants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Phenolyzer</a>
            </li>
          </ul>
          
          
          
          <!-- content of tabbed area container -->
          <div style="padding:1em; border: 1px solid #ddd; border-top:none; font-size:90%">
            
            <h3> Molecular Diagnostics Report </h3>
          
            <div class="row">
                <p class="col">
                    <strong>Laboratory for Molecular Medicine </strong><br>
                    65 Landsdowne Street, Cambridge MA 02139 <br>
                    Phone: (617) 768-8500 <br>
                    Fax: (617) 768-8513 <br>
                    www.partners.org/personalizedmedicine/lmm
                </p>
            
                <p class="col">

                    <strong>Lab Accession:</strong> PM-16-A07001<br>
                    <strong>Patient ID:</strong> 42987564<br>
                    <strong>Birth Date:</strong> 1/1/2115<br>
                    <strong>Age/Sex:</strong> 62 Year old Male<br>
                </p>
            </div>
            
            <hr>
            
            <div class="row">
                <p class="col">
            
                    <strong>Specimen Type:</strong> DNA, Isolated - Blood, Peripheral (edit) <br>
                    <strong>Related Accession(s): </strong> <br>
                    <strong>Referring Physician: </strong>EMERGE-CLINIC-TEST <br>
                    <strong>Copies To: </strong>GENEINSIGHT <br>EMERGE-HUB-TEST GENEINSIGHT <br>
                </p>
                    
                <p class="col">
                    <strong>Received Date:</strong> 9/1/2016 <br>
                    <strong>Referring Facility:</strong> HARVARD <br>
                    <strong>Referring Fac. MRN:</strong> <br>
                    <strong>Lab Control Number:</strong> 10038176_68282505-2_SM-B3NZL<br>
                    <strong>Family Number:</strong> FAB123
                </p>
            </div>

            <p><strong>Test Description</strong> - Sequence Confirmation Test<br>
              <strong>Test Performed</strong> - SeqConV2<br>
              <strong>Indication For Test</strong> - Not selected for trait
            </p>
            
            <hr> 
            <h4>Results</h4>
            <p><strong>DNA VARIANTS:</strong> <br> Heterozygous c.338C>A (p.Ser113X), Exon 4, PMS2, Pathogenic </p>
            
            <p><strong>Interpretation:</strong> <br>
                Positive. DNA sequencing of the coding regions and splice sites of 97 genes 
                (see methodology section below) identified the variants listed above. Copy number analysis 
                using NGS could not be completed because data did not meet quality standards for CNV detection. 
                For a list of exons that are incompletely covered please see "Additional notes and disclaimers" 
                section below.
            </p>
            
            <p><strong>Summary:</strong> <br>
                This individual carries a Pathogenic variant in the PMS2 gene. The 
                available information on this variant is described below. Disease-causing variants in the 
                PMS2 gene are strongly associated with Lynch syndrome and this individual may be at risk 
                for developing colorectal cancer / polyps. 
            </p>
            
            <p>
                <strong>Additional Notes And Disclaimers: </strong> <br>
                Disease penetrance and severity can vary due to modifier genes and/or environmental factors. The 
                significance of a variant should therefore be interpreted in the context of the individual's 
                clinical manifestations 
            </p>
            <p>
                <strong>Detailed Variant Interpretations:</strong> <br>
                p.Ser113X, c.338C>A (PMS2; NM_000535.5; Chr7g.6043336G>T; GRCh37):
                The p.Ser113X variant in PMS2 has not been previously reported in individuals with 
                Lynch syndrome and was absent from large population studies. This nonsense variant
                leads to a premature termination codon at position 113, which is predicted to lead 
                to a truncated or absent protein. Heterozygous loss of function of the PMS2 gene 
                is an established disease mechanism in Lynch syndrome 
                (http://www.ncbi.nlm.nih.gov/books/NBK1211/). In summary, this variant meets 
                our criteria to be classified as pathogenic for Lynch syndrome 
                (http://www.partners.org/personalizedmedicine/LMM) based upon predicted impact 
                to the protein and absence in controls. 
            </p>
            
            <p>
                <strong>Recommendation:</strong>  <br>
                Genetic counseling is 
                recommended for this individual and their relatives. Familial variant testing 
                is available for other relatives if desired. For assistance in locating genetic 
                counseling services or disease specialists, please call the laboratory at 
                617-768-8500 or email at LMM@partners.org. Please note that variant classifications 
                may change over time if more information becomes available. Please contact us at 
                617-768-8500 or LMM@partners.org.
            </p>
            
            <hr> 
            
            <h5>TEST INFORMATION </h5>
            
            <p> 
                <strong>Background: </strong> <br>
                HOLD FOR BACKGROUND TEXT 
            <p> 
                <strong>Methodology: </strong> <br>
                HOLD FOR METHODOLOGY TEXT 
            
            <p>   
                <strong>References: </strong> <br>
                Hendriks YM, Jagmohan-Changur S, van der Klift HM, Morreau H, van Puijenbroek M, 
                Tops C, van Os T, Wagner A, Ausems MG, Gomez E, Breuning MH, Bröcker-Vriends AH, 
                Vasen HF, Wijnen JT. 2006. Heterozygous mutations in PMS2 cause hereditary 
                nonpolyposis colorectal carcinoma (Lynch syndrome). Gastroenterology. 130(2):312-22.
            </p>
          </div>
          <!-- end content of tabbed area container -->


        </main>
        
        
        
        
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!-- 
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
 -->

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
